*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #75aae9;
    font-family: "Montserrat",sans-serif;
    font-size: 1.3em;


}
.background{
    background-image: url("sky/day.PNG");
    height: 100vh;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    background-color: white;
    background-image: linear-gradient(to right, #a2d3ea 1px, transparent 1px),
    linear-gradient(to bottom, #a2d3ea 1px, transparent 1px);
    background-size: 40px 40px;
    min-height: 100%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 15px 40px rgba(5, 5, 11, 0.16);

}
.ticker{
    background-color: black;
    color: white;
    padding: 12px;
}
.main{
    padding: 40px;
    display: flex;
    gap: 28px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 600;
}
.left{


}
.photo{
    background-image: url("self.PNG");
    background-size: contain;
    width: 290px;
    margin-top: -10px;
    aspect-ratio: 1/1;
}
.right{

}
.about{
    border: 6px black solid;
    padding: 12px 10px;
    margin-top: 66px;
    margin-left: 43px;
}
.links{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: -4px;
}
.links a{
    color: #024288;
    font-weight: bold;
    font-size: 1.4em;
    text-decoration: none;

}